.topbar {
  background: #0b5ed7;
  color: white;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar button {
  background: #0b5ed7;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}
.hero {
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1509395176047-4a66953fd231");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: white;
  text-align: center;
  background: rgba(0,0,0,0.4);
  padding: 30px;
  border-radius: 10px;
}
.services {
  display: flex;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}